<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns="https://jakarta.ee/xml/ns/jakartaee"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="https://jakarta.ee/xml/ns/jakartaee https://jakarta.ee/xml/ns/jakartaee/web-app_6_0.xsd"
         version="6.0">
  
  <display-name>Smart WMS - Warehouse Management System</display-name>
  <description>Smart Warehouse Management System for FPT University SWP Project</description>
  
  <!-- Context Parameters -->
  <context-param>
    <param-name>debug</param-name>
    <param-value>true</param-value>
  </context-param>
  
  <!-- Welcome Files -->
  <welcome-file-list>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>index.html</welcome-file>
  </welcome-file-list>
  
  <!-- Session Configuration - 30 minutes timeout -->
  <session-config>
    <session-timeout>30</session-timeout>
    <cookie-config>
      <http-only>true</http-only>
      <secure>false</secure>
    </cookie-config>
    <tracking-mode>COOKIE</tracking-mode>
  </session-config>
  
  <!-- MIME Mappings -->
  <mime-mapping>
    <extension>js</extension>
    <mime-type>application/javascript</mime-type>
  </mime-mapping>
  <mime-mapping>
    <extension>css</extension>
    <mime-type>text/css</mime-type>
  </mime-mapping>
  <mime-mapping>
    <extension>woff</extension>
    <mime-type>font/woff</mime-type>
  </mime-mapping>
  <mime-mapping>
    <extension>woff2</extension>
    <mime-type>font/woff2</mime-type>
  </mime-mapping>
  <mime-mapping>
    <extension>ttf</extension>
    <mime-type>font/ttf</mime-type>
  </mime-mapping>
  <mime-mapping>
    <extension>svg</extension>
    <mime-type>image/svg+xml</mime-type>
  </mime-mapping>
  
  <!-- Error Pages -->
  <error-page>
    <error-code>400</error-code>
    <location>/WEB-INF/views/error/404.jsp</location>
  </error-page>
  
  <error-page>
    <error-code>403</error-code>
    <location>/WEB-INF/views/error/403.jsp</location>
  </error-page>
  
  <error-page>
    <error-code>404</error-code>
    <location>/WEB-INF/views/error/404.jsp</location>
  </error-page>
  
  <error-page>
    <error-code>405</error-code>
    <location>/WEB-INF/views/error/404.jsp</location>
  </error-page>
  
  <error-page>
    <error-code>500</error-code>
    <location>/WEB-INF/views/error/500.jsp</location>
  </error-page>
  
  <error-page>
    <error-code>503</error-code>
    <location>/WEB-INF/views/error/maintenance.jsp</location>
  </error-page>
  
  <error-page>
    <exception-type>java.lang.Exception</exception-type>
    <location>/WEB-INF/views/error/500.jsp</location>
  </error-page>
  
  <error-page>
    <exception-type>java.lang.Throwable</exception-type>
    <location>/WEB-INF/views/error/500.jsp</location>
  </error-page>
  
  <!-- JSP Servlet Configuration for Development Mode -->
  <servlet>
    <servlet-name>jsp</servlet-name>
    <servlet-class>org.apache.jasper.servlet.JspServlet</servlet-class>
    <init-param>
      <param-name>development</param-name>
      <param-value>true</param-value>
    </init-param>
    <init-param>
      <param-name>displaySourceFragment</param-name>
      <param-value>true</param-value>
    </init-param>
    <init-param>
      <param-name>dumpSmap</param-name>
      <param-value>true</param-value>
    </init-param>
    <init-param>
      <param-name>enablePooling</param-name>
      <param-value>false</param-value>
    </init-param>
    <init-param>
      <param-name>errorOnUseBeanInvalidClassAttribute</param-name>
      <param-value>true</param-value>
    </init-param>
    <load-on-startup>3</load-on-startup>
  </servlet>
  
  <servlet-mapping>
    <servlet-name>jsp</servlet-name>
    <url-pattern>*.jsp</url-pattern>
  </servlet-mapping>
  
  <!-- JSP Configuration -->
  <jsp-config>
    <jsp-property-group>
      <url-pattern>*.jsp</url-pattern>
      <page-encoding>UTF-8</page-encoding>
      <trim-directive-whitespaces>true</trim-directive-whitespaces>
      <default-content-type>text/html;charset=UTF-8</default-content-type>
    </jsp-property-group>
  </jsp-config>
  
</web-app>
